@{
    Layout = "_Layout_Guest";
}

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="search mb-5">
            <input id="user_search" type="text" class="js_search form-control mb-5" />
            <select name="price" id="price">
                <option value="5">€</option>
                <option value="10">€€</option>
                <option value="15">€€€</option>
            </select>
        </div>
        <div class="row js_no_post text-center d-none">
            <div class="col-12">
                <h3>Non hai inserito alcun post</h3>
            </div>
        </div>
        <div class="row container d-flex justify-content-center js_post_table d-none">
            <div class="col-sm-12">
                <!-- zona card -->

               
                <!-- fine zona card -->
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<script type="text/javascript">
    //query for input
        document.querySelector(".js_search").addEventListener('keyup', OnUserInputEvent);
        
        

        var timeoutId = null;

        function OnUserInputEvent(e) {
            let priceSelect = document.getElementById("price").value;
            let query = e.target.value;

            if (timeoutId != null)
                clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                axios.get('/api/pizza/search', {
                    params: {
                        name: query,
                        price: priceSelect
                    }
                }).then(response => {
                    RenderPost(response.data);
                }).catch(error => {
                    console.log(error);
                })

            }, 300);

            }


    //

    axios.get('/api/pizza/get').then(res => {


       RenderPost(res.data);
       
    }).catch(error => {
        debugger;
        console.log(error);
    })


     function RenderPost(data) {

            if (data.length == 0) {
                document.querySelector('.js_no_post').classList.remove('d-none');
                document.querySelector('.js_post_table').classList.add('d-none');
            } else {
                document.querySelector('.js_post_table').classList.remove('d-none');
                document.querySelector('.js_no_post').classList.add('d-none');
                document.querySelector('.js_post_table').innerHTML = '';
                data.forEach(pizza => {
                    console.log('pizza', pizza);
                    document.querySelector('.js_post_table').innerHTML +=
                        `
                                         <div class="col-md-3 mb-5" style="">
                                            <div class="card-sub">
                                                    <img class="card-img-top img-fluid" src="${pizza.image}" alt="Card image cap">
                                                <div class="card-block">
                                                     <h4 class="card-title">${pizza.name}</h4>
                                                     <p class="card-text">${pizza.description}</p>
                                                     <p class="card-text">${pizza.category.title}</p>
                                                     <a href="guest/detail?id=${pizza.id}" >Visualizza</a>

                                                </div>
                                            </div>
                                        </div>
                                            `;
                });
            }

     }


</script>

}