@model Tag

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Inserisci una nuova categoria</h1>
            </div>
            <form asp-controller="Tag" asp-action="Create" method="post">

                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <strong>Nome:</strong>
                    <input asp-for="Title" class="d-block w-100" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="text-end">
                    <input type="submit" class="btn btn-small btn-success" value="Salva">
                </div>

            </form>
        </div>
    </div>
</div>