@model List<Category>

<div class="mb-5">
    <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Category" asp-action="Create">Inserisci</a>
</div>

@if (Model.Count() == 0)
{
    <h3 class="text-center">Non sono presenti categorie.</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>nome</th>
                <th>info</th>
            </tr>
           
        </thead>
        <tbody>
            @foreach (Category categoria in Model)
            {
                <tr>
                    <td class="title">@categoria.Title</td>
                    <td>
                        <form asp-controller="Category" asp-action="Delete" asp-route-id="@categoria.Id" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-danger btn-sm">
                                Elimina
                            </button>
                        </form>
                    </td>
                </tr>
                

            }
        </tbody>
    </table>

}